.product {
    width: 100%;
    // height: 200px;
    margin: 50px;
}

.banner {
    width: 100%;
    height: 500px;
    margin: 10px auto;
    overflow: hidden;
    .imgbox {
        width: 1200px;
        height: 440px;
        position: relative;
        img {
            width: 1200px;
            height: 440px;
            position: absolute;
            margin：0 auto;
        }
    }
    .btns {
        input {
            position: absolute;
            color: red;
            border: none;
            top: 400px;
            z-index: 999;
            font-size: 36px;
            font-weight: bold;
            background: rgba(0, 0, 0, 0);
        }
        #left {
            left: 200px;
        }
        #right {
            right: 200px;
        }
    }
}

#cont {
    width: 1000px;
    height: 1300px;
    // border: solid 1px black;
    margin: 20px auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .box {
        width: 250px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // float: left;
        // border: solid 1px black;
        box-sizing: border-box;
        text-align: center;
        img {
            width: 220px;
            height: 240px;
            margin-left: 15px;
        }
        p {
            line-height: 16px;
            height: 32px;
            overflow: hidden;
            margin: 10px 0;
            font-size: 16px;
            color: lightblue;
        }
        em {
            width: 100px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            margin: 10px auto;
            display: block;
            font-style: normal;
            font-weight: bold;
            background: dodgerblue;
            color: #FFF;
        }
        span {
            color: red;
            font-size: 16px;
        }
    }
     :hover {
        border: solid 1px #ccc;
    }
}

.box {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    .pageWarp {
        height: 40px;
        line-height: 40px;
        // box-shadow: 0 2px 5px #b6b6b6;
        // border-radius: 2px;
        display: flex;
        justify-content: center;
        #btnR {
            line-height: 40px;
            cursor: pointer;
            border: 1px solid #ccc;
            padding: 0 10px;
        }
        #btnL {
            line-height: 40px;
            cursor: pointer;
            border: 1px solid #ccc;
            padding: 0 10px;
        }
        ul {
            height: 40px;
            text-align: center;
            padding-left: 40px;
            padding-right: 40px;
            display: flex;
            li {
                text-align: center;
                line-height: 40px;
                padding: 0 10px;
                border: 1px solid #ccc;
            }
        }
        .active {
            color: #fff;
            font-size: 24px;
            background: #15b;
            border: 1px solid #15b;
        }
    }
}